<div class="sm:flex items-center justify-center sm:h-screen">
  <div class="max-w-screen-sm mx-auto sm:p-2 sm:border sm:rounded">
    <p>
      All set! If an account is registered at the e-mail address you provided,
      you should receive an e-mail with a link that will log you in!
    </p>
  </div>
</div>
